* {
  font-family: 'Raleway', monospace;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  --darkBlue: #141E30;
  --darkishBlue: #243B55;
  --blueAccent: #64A4ED;
  --yellowAccent: #FFB638;
  --white: hsl(190, 20%, 95%);
}



html {
  font-size: 10px;
}

body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: fixed;
  background: linear-gradient(to right, var(--darkBlue), var(--darkishBlue));
  color: var(--white);
  width: 100vw;
  z-index: 100;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-left: 4rem;
}

nav li {
  list-style: none;
  padding: 2rem 4rem 2rem 0;
  font-size: 3rem;
  font-weight: 700;
}

nav a {
  text-decoration: none;
  color: inherit;
  transition: all .3s;
}

nav li:hover {
  color: var(--blueAccent);
  transform: translateY(1px);
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: linear-gradient(to right, var(--darkBlue), var(--darkishBlue));
  color: var(--white);
  width: 100%;
  height: 100vh;
}

.welcome-text {
  text-align: center;
  margin: 0 5vw;
}

#welcome-section h1 {
  font-size: 7rem;
  line-height: 64px;
}

#welcome-section h2 {
  font-size: 5rem;
  color: var(--yellowAccent);
  line-height: 84px
}

#projects {
  margin: 5rem 10vw;
}

.projects-title {
  color: var(--darkishBlue);
  font-size: 5rem;
  text-align: center;
}

#project-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin-top: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  width: 300px;
  min-height: 12rem;
  margin: 2rem;
  background-color: white;
  border: 1px solid lightgrey;
  border-top: 10px solid var(--darkishBlue);
  border-radius: 1.5rem;
  color: hsl(210, 80%, 10%);
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.25s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  transform: translateY(-2px);
  border-color: var(--yellowAccent);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-title {
  font-size: 3em;
  font-weight: 700;
}

.card-description {
  font-size: 2rem;
  font-weight: 400;
}

.card-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  font-weight: 700;
  opacity: 0;
}

.card:hover .card-links {
  opacity: 1;
  animation: slideUp .25s ease-out;
} 

.card-links a:hover {
  color: var(--yellowAccent);
}

#links {
  margin: 5rem 0;
  margin-bottom: 0;
  padding: 5rem;
  padding-bottom: 7.5rem;
  background: linear-gradient(to right, var(--darkBlue), var(--darkishBlue));
  
}

.links-title {
  font-size: 5rem;
  color: white;
  text-align: center;
}

.links-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  padding: 40px;
  color: var(--darkishBlue);
}

.links-item {
  margin: 0 5rem;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--white);
  transition: ease-out .2s;
}

.links-item:hover {
  color: var(--yellowAccent);
  transform: translateY(-3px);
}


/*
  KEYFRAMES 
*/

@keyframes slideUp {
  0% { 
    transform: translateY(2rem);
    opacity: 0;
  }
  80% {
    transform: translateY(-.3rem);
    opacity: .8;
  }
  100% { 
    transform: translateY(0rem);
    opacity: 1;
  }
}


/*
  MEDIA QUERIES
*/

/* TOUCHSCREENS */
@media (pointer: coarse) {

  .card:hover {
    transform: translateY(0px);
    border-color: inherit;
    box-shadow: inherit;
  }

  .card:hover .card-links {
    opacity: 1;
    animation: none;
  } 
  
  .card-links {
    opacity: 1;
    color: var(--blueAccent);
  }

  .card-links a:hover {
    color: inherit;
  }
  
}

@media screen and (max-width: 1100px) {

  #projects {
    margin: 5rem 5vw;
  }

}

@media screen and (max-width: 800px) {
  
  #project-grid {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  #links {
    padding-bottom: 5rem;
  }

  .links-block {
    flex-direction: column;
    align-items: center;
  }

  .links-item {
    margin-bottom: 2rem;
  }
}

@media (max-width: 450px ) {

  nav ul {
    justify-content: space-between;
  }

  nav li {
    font-size: 2rem;
  } 

  .card {
    width: auto;
    max-width: 90vw;
  }

}